/* justify-self aligns grid items horizontally with their cells, and align-self with align the grid items vertically.
Both of these properties take in the same values;

center: aligns content to the center of the cell.
start: aligns content to the left of the cell with justify-self, or the top of the cell with align-self.
end: aligns content to the right of the cell with justify-self, or the bottom of the cell with align-self.
*/

<style>
  .item1{background:LightSkyBlue;}
  .item2{background:LightSalmon;}
  
  .item3 {
    background: PaleTurquoise;
    /* add your code below this line */
    align-self: end;    
    /* add your code above this line */
  }
  
  .item4{background:LightPink;}
  .item5{background:PaleGreen;}
  
  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
</style>
  
<div class="container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
</div>